<div class="inner-page">


  <div class="inner-baner bg">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb custom-breadcrumb">
          <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
          <li class="breadcrumb-item"><a href="#">المركز الإعلامي</a></li>
          <li class="breadcrumb-item active" aria-current="page"> أخبار الوزارة </li>
        </ol>
      </nav>

      <h3 class="title"> أخبار الوزارة </h3>
    </div>

  </div>

  <div class="news-container pt-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="d-flex gap-3">
            <div *ngFor="let type of switchTypes">
              <button type="button" class="btn  btn-sm rounded-2" [ngClass]="{ 'active': activeSwitchType === type }"
                (click)="setActiveSwitchType(type)">
                <i class="fas fa-{{ type }} fs-5 p-0 text-primary"></i>
              </button>
            </div>
            <!-- <a href="">
                            <img src="assets/img/media/box-grid.svg" alt="">
                        </a>
                        <a href="">
                            <img src="assets/img/media/list-grid.svg" alt="">
                        </a> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="search-input d-flex align-items-center gap-3 p-0 ">
            <div class="input-group">
              <span class="input-group-text search" id="basic-addon1">
                <img src="assets/img/media/se.svg" title="image" alt="image" style="width: 20px;"  loading="lazy" decoding="async">
              </span>
              <input type="text" class="form-control" placeholder="إبحث هنا ..." aria-label="Username"
                aria-describedby="basic-addon1">

              <span class="input-group-text mic" id="basic-addon1">
                <img src="assets/img/media/mic.svg" title="mic" alt="mic" style="width: 25px;"  loading="lazy" decoding="async">
              </span>

            </div>
            <a class="btn btn-primary " href="#"> بحث </a>

          </div>
        </div>
      </div>
      <div class="news pt-5 pb-2">
        <div class="row justify-content-center">
          <div class="card-light news-single" [class.list-grid-news]="activeSwitchType === 'list'">
            <div class="icon">
              <img src="assets/img/media/n1.png" class="" title="image" alt="image"  loading="lazy" decoding="async">
            </div>
            <div class="content d-flex flex-column gap-2">
              <h3 class="limit-two">وزير الإعلام يلتقي في بمجلس </h3>
              <p class="limit-three desc">التقى معالي وزير صمة
                الصينية بكين
                اليوم؛ معالي مدير مكتب الإعلام بمجلس </p>
              <p class="date">14 ديسمبر 2024</p>
              <a href="#" class="btn btn-primary me-auto">قراءة المزيد</a>
            </div>
          </div>
          <div class="card-light news-single" [class.list-grid-news]="activeSwitchType === 'list'">
            <div class="icon">
              <img src="assets/img/media/news1.png" class="" title="news1" alt="news1"  loading="lazy" decoding="async">
            </div>
            <div class="content d-flex flex-column gap-2">
              <h3 class="limit-two">وزير الإعلام يلتقي في بمجلس </h3>
              <p class="limit-three desc">التقى معالي وزير الإعلام الأستاذ سلمان بن يوسف الدوسري في العاصمة
                الصينية بكين
                اليوم؛ معالي مدير مكتب الإعلام بمجلس </p>
              <p class="date">14 ديسمبر 2024</p>
              <a href="#" class="btn btn-primary me-auto">قراءة المزيد</a>
            </div>
          </div>
          <div class="card-light news-single" [class.list-grid-news]="activeSwitchType === 'list'">
            <div class="icon">
              <img src="assets/img/media/news2.png" class="" title="news2" alt="news2"  loading="lazy" decoding="async">
            </div>
            <div class="content d-flex flex-column gap-2">
              <h3 class="limit-two">وزير الإعلام يلتقي في بكين مديرَ مكتب الإعلام بمجلس </h3>
              <p class="limit-three desc">التقى معالي وزير الإعلام الأستاذاصمة
                الصينية بكين
                اليوم؛ معالي مدير مكتب الإعلام بمجلس اليوم؛ معالي مدير مكتب الإعلام بمجلس
                اليوم؛ معالي مدير مكتب الإعلام بمجلس اليوم؛ معالي مدير مكتب الإعلام بمجلس اليوم؛ معالي مدير مكتب الإعلام
                بمجلس اليوم؛ معالي مدير مكتب الإعلام بمجلس اليوم؛ معالي مدير مكتب الإعلام بمجلس </p>
              <p class="date">14 ديسمبر 2024</p>
              <a href="#" class="btn btn-primary me-auto">قراءة المزيد</a>
            </div>
          </div>

        </div>

        <div class="d-felx justify-content-center">
          <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="3" [rotate]="true" [boundaryLinks]="false">
            <ng-template ngbPaginationPrevious>
              <i class="fi fi-rr-angle-small-left"></i>
            </ng-template>

            <ng-template ngbPaginationNext>
              <i class="fi fi-rr-angle-small-right"></i>
            </ng-template>

          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
