<div class="news-container pt-4">
  <div class="container">
    <div class="news-container pt-4">
      <div class="container">
        <div class="row align-items-center g-3">
          <div class="col-md-6">
            <div class="d-flex gap-3">
              <div *ngFor="let type of switchTypes">
              
                <button type="button" class="btn btn-sm rounded-2" [ngClass]="{ active: activeSwitchType === type }"
                  (click)="setActiveSwitchType(type)">
                  <i class="fas fa-{{ type }} fs-5 p-0 text-primary"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row g-3">
              <div class="col-lg-6">
                <div class="d-flex gap-3 align-items-center">
                  <label for="filter-select" class="d-flex gap-1">
                    <i class="fi fi-rs-filter"></i> {{rendering?.fields?.mediaData?.FilterText}}
                  </label>
                  <select class="form-select form-control" aria-label="Default select example" id="filter-select"
                          [(ngModel)]="selectedCategory">
                          <!--rendering?.fields?.mediaData?.SelectAllText -->
                    <option value="">{{SelectAll}} </option>
                    <option *ngFor="let item of categories" [value]="item.Name">
                      {{ item.Name }}
                    </option>
                  </select>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="news pt-5 pb-2">
      <div class="row justify-content-center">
        <ng-container *ngFor="let item of imageItemsList; let i = index">
          <div *ngIf="filterItems(item)" class="card-light-border p-3 news-single"
               [class.list-grid-news]="activeSwitchType === 'list'">
            <div class="icon">
              <img [src]="item?.Image" onerror="this.onerror=null; this.src='assets/img/media/Gov_Logo.svg'"
                   [title]="item?.Title" [alt]="item?.Title" loading="lazy" decoding="async" />
            </div>
            <div class="content d-flex flex-column gap-2">
              <h3 class="limit-two">{{ item?.Title }}</h3>
              <div class="d-flex align-items-center justify-content-between">
                <a (click)="open(i)" class="btn btn-primary">{{ readMore }}</a>
                <p class="date">{{ item?.Date | localizedDate }}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

              <!-- Pagination (Only Appears if More Than One Page appeared) -->
      <div *ngIf="totalItems > pageSize"  class="d-flex justify-content-center mt-3">
        <pagination
          [boundaryLinks]="true"
          [totalItems]="totalItems"
          [itemsPerPage]="pageSize"
          [(ngModel)]="pageNumber"
          (pageChanged)="onPageChange($event)"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
        </pagination>
      
      </div>

    </div>
  </div>
</div>