<div class="inner-page">
  <div class="inner-container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4" *ngFor="let item of rendering?.fields?.listImageLink">
          <div class="card-light-border hub-single gap-4">
            <div class="d-flex align-items-center gap-3">
              <div class="icon">
                <img [src]="item?.fields?.image?.value?.src || 'assets/img/media/media-hub3.png'" class="" 
                     [alt]="item?.fields?.image?.value?.alt || 'Image'"
                     [title]="item?.fields?.image?.value?.alt || 'Image'" loading="lazy" decoding="async"/>
              </div>
              <h3>{{item?.fields?.title?.value}}</h3>
            </div>
            <a class="btn btn-light ms-auto" [routerLink]="item?.fields?.link?.value?.href">
              <i class="fi fi-rr-arrow-left fs-4 d-flex"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>