<!-- <div class="inner-page">
  <div 
  class="inner-baner bg"
  [ngStyle]="{
    'background-image': 'url(' + rendering?.fields?.BreadCrumbImage?.value?.src + ')',
    'background-size': 'cover', 
    'background-position': 'center',
    'background-repeat': 'no-repeat'
  }"
>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb custom-breadcrumb">
        <li class="breadcrumb-item" *ngIf="rendering?.fields?.BreadCrumbPathLinkOne?.value">
          <a href="#">{{ rendering?.fields?.BreadCrumbPathLinkOne?.value }}</a>
        </li>
        <li class="breadcrumb-item" *ngIf="rendering?.fields?.BreadCrumbPahtLinkTwo?.value">
          <a href="#">{{ rendering?.fields?.BreadCrumbPahtLinkTwo?.value }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf="rendering?.fields?.BreadCrumbPathLinkThree?.value">
          {{ rendering?.fields?.BreadCrumbPathLinkThree?.value }}
        </li>
      </ol>        
    </nav>
    <h3 class="title">{{ rendering?.fields?.BreadCrumbTitle?.value }}</h3>
  </div>
</div>
</div> -->