<div class="container">
  <div
    class="card-light-border p-3 py-4 mb-2 information-card d-flex justify-content-evenly align-items-center gap-4"
  >
    <div class="icon">
      <img 
      [src]="rendering?.fields?.CompanyImage?.value.src"
      [alt]="rendering?.fields?.CompanyImage?.value.alt"
      [title]="rendering?.fields?.CompanyImage?.value.alt"
      onerror="this.onerror=null; this.src='assets/img/media/Gov_Logo.svg'"
      loading="lazy" decoding="async"
      class="img-fluid" />
    </div>
    <div class="d-flex flex-column gap-2">
      <div class="d-flex align-items-center gap-2">
        <i class="fi fi-rs-marker"></i>
        <p>
          {{rendering.fields?.Location?.value}}
        </p>
      </div>
      <div class="d-flex flex-wrap justify-content-between gap-2">
        <div class="d-flex align-items-center gap-2">
          <i class="fi fi-rr-globe"></i>
          <p>
            {{rendering.fields?.Website?.value}}
          </p>
        </div>
        <div class="d-flex align-items-center gap-2">
          <i class="fi fi-rr-envelope"></i>
          <p>
            {{rendering.fields?.Email?.value}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>