<div class="inner-page">
  <div class="inner-baner bg">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb custom-breadcrumb">
          <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
          <li class="breadcrumb-item"><a href="#">المركز الإعلامي</a></li>
          <li class="breadcrumb-item active" aria-current="page"> أخبار الوزارة </li>
        </ol>
      </nav>
      <h3 class="title">{{rendering?.fields?.title?.value}}</h3>
    </div>
  </div>
  <div class="news-container pt-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="d-flex gap-3">
            <div *ngFor="let type of switchTypes">
              <button type="button" class="btn  btn-sm rounded-2"
                  [ngClass]="{ 'active': activeSwitchType === type }" (click)="setActiveSwitchType(type)">
                  <i class="fas fa-{{ type }} fs-5 p-0 text-primary"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="news pt-5 pb-2">
        <div class="row justify-content-center">
          <div
            *ngFor="let news of rendering.fields?.latestNewsList"
            class="card-light news-single"
            [class.list-grid-news]="activeSwitchType === 'list'">
            <div class="icon">
              <img
                [src]="news.fields.newslistingImage.value.src"
                [alt]="news.fields.newslistingImage.value.alt"
                [title]="news.fields.newslistingImage.value.alt"
                class="img-fluid"  loading="lazy" decoding="async">
            </div>
            <div class="content d-flex flex-column gap-2">
              <h3 class="limit-two">{{ news.fields.title.value }}</h3>
              <p class="limit-three desc" [innerHTML]="news.fields.description.value"></p>
              <p class="date">{{ news?.fields?.newsDate?.value | localizedDate }}</p>
              <a [href]="news.url" class="btn btn-primary me-auto">{{news?.fields?.readMoreText?.value}}</a>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <ngb-pagination
            [collectionSize]="120"
            [(page)]="page"
            [maxSize]="3"
            [rotate]="true"
            [boundaryLinks]="false">
            <ng-template ngbPaginationPrevious>
              <i class="fi fi-rr-angle-small-left"></i>
            </ng-template>
            <ng-template ngbPaginationNext>
              <i class="fi fi-rr-angle-small-right"></i>
            </ng-template>
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
