<!-- <div class="inner-page">
  <div class="inner-baner bg">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb custom-breadcrumb">
          <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
          <li class="breadcrumb-item"><a href="#">الوزارة</a></li>
          <li class="breadcrumb-item"><a href="#">قادة الإعلام </a></li>
          <li class="breadcrumb-item active" aria-current="page">
            أ. سلمان بن يوسف الدوسري
          </li>
        </ol>
      </nav>
      <h3 class="title">قادة الإعلام</h3>
    </div>
  </div>
  <div class="inner-container">
    <div class="about-media">
      <div class="container">
        <div class="d-flex flex-column gap-2 mb-4">
          <h4 class="title">{{rendering?.fields?.title?.value}}</h4>
        </div>
        <div class="row mb-4">
          <div class="col-md-4">
            <div class="d-flex card-light-border flex-column p-4 gap-3">
              <div class="icon">
                <img [src]="rendering?.fields?.image?.value?.src" class="img-fluid" alt="" />
              </div>
            </div>
          </div>
          <div *ngFor="rendering?.fields?.descriptionSection">
          <div class="col-md-8">
            <div class="d-flex flex-column gap-2">
              <div class="d-flex flex-column gap-1">
                <h3>أ. سلمان بن يوسف الدوسري</h3>
                <p class="sub-title mb-0">معالي وزير الإعلام</p>
              </div>
              <div class="text">
                <p>
                  سلمان بن يوسف الدوسري، (وُلد 1388هـ/1968م)،هو صاحب معالي، وزير
                  الإعلام في المملكة العربية السعودية منذ 13
                  شعبان 1444هـ/5 مارس 2023م.
                </p>
              </div>

              <div class="d-flex flex-column gap-1">
                <p class="sub-title mb-0">
                  حياة سلمان الدوسري العلمية والعملية
                </p>

                <div class="text">
                  <p>
                    ولد سلمان الدوسري في محافظة الخبر بالمنطقة الشرقية، وحصل على
                    شهادة البكالوريوس في الإدارة والاقتصاد، وشغل مناصب عدّة خلال
                    رحلته المهنيّة التي بدأت عام 1419هـ/1998م من المجموعة
                    السعودية للأبحاث والتسويق (المجموعة السعودية للأبحاث
                    والإعلام حاليًّا)، إذ عمل أولًا مع صحيفة الاقتصادية، وفي عام
                    1425هـ/2004م انتقل للعمل مراسلًا لصحيفة الشرق الأوسط في
                    مملكة البحرين، ثم أصبح مسؤولًا عن التحرير في الإمارات
                    العربية المتحدة عام 1427هـ/2006م.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-4">
            <div class="d-flex flex-column gap-3">
              <div class="d-flex flex-column gap-1" *ngFor="let item of rendering?.fields?.descriptionSection">
                <p class="sub-title mb-0">{{ item?.fields?.title?.value }}</p>
                <div class="text">
                  <p>{{ item?.fields?.description?.value }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!--<div class="inner-page">-->
  <div class="inner-container">
    <div class="about-media">
      <div class="container">
        <div class="d-flex justify-content-between gap-2 mb-4">
          <h4 class="title"> {{rendering?.fields?.title?.value}}</h4>

          <div class="d-flex action-icon gap-3">
              <a href="">
                  <img src="assets/img/media/print.svg" alt="print" title="print" loading="lazy" decoding="async" />
              </a>
              <a href="">
                  <img src="assets/img/media/mail-g.svg" alt="mail-g" title="mail-g" loading="lazy" decoding="async" />
              </a>
              <a href="">
                  <img src="assets/img/media/share.svg" alt="share" title="share" loading="lazy" decoding="async" />
              </a>
          </div>
      </div>
        <div class="row mb-4">
          <div class="col-md-4">
            <div class="d-flex card-light-border flex-column p-4 gap-3">
              <div class="icon">
                <img 
                [src]="rendering?.fields?.image?.value?.src" class="img-fluid" 
                [title]="rendering?.fields?.image?.value?.alt" 
                [alt]="rendering?.fields?.image?.value?.alt" 
                onerror="this.onerror=null; this.src='assets/img/media/Gov_Logo.svg'"
                />
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="d-flex flex-column gap-2">
              <div class="d-flex flex-column gap-1">
                <h3>{{rendering?.fields?.leaderName?.value}}</h3>
              </div>
              <div class="d-flex flex-column gap-1" *ngFor="let item of firstTwoDescriptions">
                <p class="sub-title mb-0">
                  {{ item?.fields?.title?.value }}
                </p>

                <div class="text">
                  <p *scRichText="item?.fields?.description">
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-4">
            <div class="d-flex flex-column gap-3">
              <div class="d-flex flex-column gap-1" *ngFor="let item of remainingDescriptions">
                <p class="sub-title mb-0">{{ item?.fields?.title?.value }}</p>
                <div class="text">
                  <p *scRichText="item?.fields?.description"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->
