.rating{

    padding: 24px 2rem;
    background-color: var(--bs-light-000);
    border-top: 2px solid var(--bs-primary);

    p{
        font-size: var(--bs-font-16);
        font-weight: 600;
        margin: 0;
        a{
            color: var(--bs-primary)!important;
            font-size: var(--bs-font-16)!important;

        }
    }
    .nu-rat{
        font-size: var(--bs-font-16);
        font-weight: 400;
        margin: 0;
        color: var(--bs-light-400);
    }
    .light-rat{
        font-weight: 400; 
    }
    .btn-w{
        width: 45px;
    }
    .rating-content {
        a{
            color: var(--nav-link-color);
            font-size: var(--bs-font-14);
            font-weight: 500;
        }

        .rateing-form{
            padding: 20px 0;
        }
        .form-check {
            display: flex;
            gap: 35px;
            .form-check-input {
             
                width: 1.3em;
                height: 1.3em;
            }
            .form-check-label{
            font-size: var(--bs-font-14);
            font-weight: 600;
            }
        }

    }
}
.footer{
    background-color: var(--bs-primary-dark2);
    padding: 2rem;
    .box{
        h3{
            font-size: var(--bs-font-16);
            color: var(--bs-light-000);
            font-weight: 500;
            border-bottom: 1px solid var(--bs-light-500); 
            padding-bottom: 5px;
        }
        ul{
            li{
                a{
                    color: var(--bs-light-000);
                    font-size: var(--bs-font-14);
                    font-weight: 400;
                    transition: .5s;
                    &:hover{
                        color: var(--bs-light-300);
                        text-decoration: underline;
                        transition: .5s;
                    }
                }
                a.social{
                   border: 1px solid var(--bs-light-500);
                   border-radius: 4px;
                   width: 32px; height: 32px;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                    transition: .5s;
                    img{
                        width: 20px;
                    }
                    &:hover{
                        background-color: #376d57;
                        transition: .5s;
                    }
                }
            }
        }
    }
    .copy-right{
        margin-top: 80px;
        a{
            font-size: var(--bs-font-14);
            color: var(--bs-light-000);
            font-weight: 400;
            text-decoration: underline;
            transition: .5s;
            &:hover{
                color: var(--bs-light-300);
                transition: .5s;
            }
        }
        p{
            color: var(--bs-light-000);
            font-size: var(--bs-font-14);
            font-weight: 600;
            margin: 0;
        }

    }
}