
<!-- image with description -->
  <div class="inner-container">
    <div class="about-media">
    <div class="container">
      <div class="d-flex justify-content-between gap-2 mb-4">
        <h4 class="title"> {{rendering.fields?.title?.value}}</h4>

        <div class="d-flex action-icon gap-3">
            <a href="">
                <img src="assets/img/media/print.svg" alt="print" title="print" loading="lazy" decoding="async" />
            </a>
            <a href="">
                <img src="assets/img/media/mail-g.svg" alt="mail-g" title="mail-g" loading="lazy" decoding="async" />
            </a>
            <a href="">
                <img src="assets/img/media/share.svg" alt="share" title="share" loading="lazy" decoding="async" />
            </a>
        </div>
    </div>
      <div class="row gy-3 mb-4 align-items-stretch">
        <div class="col-md-6">
          <div class="vid-media">
            <div class="icon">
              <img
              [src]="rendering.fields?.image.value.src"
              class="img-fluid"
              [alt]="rendering.fields?.image.value.alt"
              [title]="rendering.fields?.image.value.alt"
              onerror="this.onerror=null; this.src='assets/img/media/Gov_Logo.svg'"
              loading="lazy" decoding="async"
              />
            </div>
          </div>
        </div>

        <div class="col-md-6 d-flex justify-content-between flex-column">
          <div class="text">
            <p [innerHTML]="rendering.fields?.description?.value">
             
            </p>
          </div>
        </div>
      </div>
      <div
        class="card-light-border p-3 mb-3 media-data d-flex flex-wrap align-items-center gap-4"
      >
        <div class="d-flex align-items-start gap-2">
          <i class="fi fi-rs-calendar"></i>
          <p>
             {{rendering.fields?.releaseYearTitle?.value}}
             <span>
               {{rendering.fields?.releaseYearValue?.value}}
             </span>
          </p>
        </div>
        <!-- changr Target to target -->
        <div class="d-flex align-items-start gap-2">
          <i class="fi fi-rr-users-class"></i>
          <p>
            {{rendering.fields?.targetAudienceTitle?.value}} 
            <span>
              {{rendering.fields?.targetAudienceValue?.value}}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
