
<div class="container">
  <h4 class="title">
    {{rendering.fields?.trainingTitle?.value}}
  </h4>
  <div
    class="works card-light-border d-flex flex-wrap justify-content-center align-items-center gap-3 p-3 my-3"
    >
    <div *ngFor="let Works of rendering.fields?.listOfCard" class="">
      <div class="image">
        <img
        [src]="Works.fields?.Image.value.src"
        class="img-fluid"
        [alt]="Works.fields?.Image.value.alt"
        [title]="Works.fields?.Image.value.alt"
        onerror="this.onerror=null; this.src='assets/img/media/Gov_Logo.svg'"
        loading="lazy" decoding="async"
        />
      </div>
    </div>
  </div>
</div>
    

