<div class="inner-page">

  <div class="d-flex flex-column gap-2 align-items-center justify-content-center server-error">
    <div class="icon mb-4">
      <img src="assets/img/media/404.svg" alt="" style="width: 350px;">
    </div>
    <h5 class="">حدث خطأ داخلي في الخادم</h5>
    <p>عذراً، حدث خطأ داخلي في الخادم. يرجى المحاولة مرة أخرى لاحقاً.</p>

    <h5 class="">Internal Server Error</h5>
    <p>Sorry, an internal server error occurred. Please try again later.</p>

    <a class="btn btn-primary" [routerLink]="['/']">الرجوع للرئيسية</a>
  </div>

</div>